body,html{
    font-size: 10px;
    font-family:'Times New Roman', Times, serif
}
h1{
    font-size: 4rem;
    text-align: center;
}
h2{
    font-size: 3rem;
    text-align: center;
}
table
{
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
table caption
{
    font-size: 2.5rem;
    font-weight:bold;
}
p,td{
    font-size: 1.75rem;
}
td{
    padding: 5px;
}

