{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'home.css' %}">

<body>

    <h1>SERMINAR DJANGO</h1>
    <h2>Nhóm 5</h2>
    <table>
        <caption>Danh sách thành viên</caption>
        
        <tr>
            <td>19521358 </td>
            <td>Vương Đức Đạt</td>
        </tr>
        <tr>
            <td>20521867 </td>
            <td>
                Huỳnh Thiện Tâm</td>
        </tr>
        <tr>
            <td>
                20522103 </td>
            <td>Triệu Tuấn Tú</td>
        </tr>
        <tr>
            <td>
                20522165 </td>
            <td>Nguyễn Phước An Vũ</td>
        </tr>
        <tr>
            <td>20521526 </td>
            <td>Phan Nguyên Lịch</td>
        </tr>
        <tr>
            <td>20521947</td>
            <td> Lê Văn Thiện</td>
        </tr>
        <tr>
            <td>18520439</td>
            <td> Tô Thành An</td>
        </tr>
        <tr>
            <td>20522157 </td>
            <td>Hồng Trường Vinh</td>
        </tr>
    </table>
</body>

</html>