{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'chung.css' %}">

<body>
<h2>Tìm hiểu lý do chọn đề tài?</h2>
<p>Giai đoạn đầu của ngành lập trình web thì việc viết web chỉ đơn thuần là viết code cho sever render ra HTML/CSS/JS. Trong quá trình không ngừng phát triển thì những thư viện ( jQuery, jQueryUI,..) và framework (AngularJS, BackboneJS, EmberJS,..) ra đời để tối ưu hóa lượng công việc cho các lập trình viên. Hiện nay có quá nhiều Framework để phát triển web, để phù hợp theo yêu cầu của thầy cũng như môn học thì nhóm em chọn Công nghệ Django là một trong những framework phát triển ứng dụng web hàng đầu trong năm 2021 được đề xuất bởi codelearn.io làm để tài cho bài báo cáo này.</p>
<a class="gohome" href="/">Về trang chủ</a>
</body>
</html>