{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'chung.css' %}">

<body>
<h2>Quy trình cài đặt</h2>
<p>  B1: Cài đặt python(nếu chưa có) theo  <a target="_blank" href="https://www.python.org/downloads/" >link </a></p>

<p>    B2: Tải thêm pip (nếu chưa có) bằng câu lệnh: <span>python get-pip.py</span></p>
    
<p>  B3: Tải Django bằng câu lệnh: <span>python install django</span></p>
    
<p> B4: Mở project Django</p>
    
<p>  B5: Chạy project bằng câu lệnh: <span>python manage.py runserver</span>  tại thư mục project Django</p>

<a class="gohome" href="/">Về trang chủ</a>
</body>
</html>