{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'chung.css' %}">

<body>

    <h1>ƯU ĐIỂM VÀ HẠN CHẾ</h1>
    <ul>
        <h2>Ưu điểm:</h2>
        <li>
            Lợi thế hàng đầu của Django là khả năng thiết kế, tạo lập website và các ứng dụng nhanh chóng đến bất ngờ
        </li>
        <li>
            Dễ sử dụng: Django được tạo ra bởi ngôn ngữ lập trình Python và mô hình MVC nên rất dễ ứng dụng trong các dự
            án. Đa ngôn ngữ và được hỗ trợ Multi-Site
        </li>
        <li>
            Dễ học: Có nhiều tài liệu hỗ trợ việc học Django, bao gồm cả tài liệu miễn phí trên mạng và sách in. Cộng
            đồng sử dụng Django hiện nay đang phát triển mạnh mẽ, newbie có thể tìm kiếm sự giúp đỡ trên các trang
            facebook, diễn đàn, blog,..
        </li>
        <li>
            Bảo mật tốt: Làm việc với Django, các lập trình viên gần như không có không gian để phạm bất cứ sai lầm về
            an ninh nào. Nó giúp các developer tránh được tất cả các lỗi thường gặp như nhấp chuột, kịch bản chéo trang,
            SQL tiêm, giả mạo yêu cầu,... Nhờ đó, sản phẩm được tạo bởi framework này có khả năng bảo mật cực tốt.

        </li>
        <li>
            Thư viện hỗ trợ đầy đủ: Django cung cấp các thư viện bao gồm các thao tác với chuỗi, web services, giao diện
            hệ điều hành và giao thức chuẩn.

        </li>
        <li>
            Giao diện quản trị đơn giản: Giao diện quản trị được cung cấp bởi Django có thể được tạo rất đơn giản và một
            trong những lợi thế chính khi sử dụng framework.

        </li>
        <li>
            Khả năng mở rộng: Django được sử dụng để đáp ứng nhu cầu lưu lượng truy cập lớn và cực lớn (Youtube,
            Instamgram là một ví dụ)

        </li>
        <li>
            Giải pháp tốt nhất cho lĩnh vực tài chính: Django và Python là giải pháp cốt lõi của các công ty Fintech ở
            Thung lũng Silicon, IT giants, Bxlue chip và Internet of things.

        </li>
    </ul>
    <ul>
        <h2> Hạn chế:</h2>
       
        <li>Bên cạnh những ưu điểm kể trên, Django cũng tồn tại một số hạn chế nên cân nhắc trước khi sử dụng:
        </li>
        <li>Chỉ định URL với các biểu thức chính quy không phải là một nhiệm vụ dễ dàng để thực hiện cho người mới bắt
            đầu học Python. Các lỗi Template ẩn có thể khiến bạn lãng phí rất nhiều thời gian.( Không đưa ra cảnh báo
            khi xuất hiện lỗi )
        </li>
        <li>Django mang lại một cảm giác nguyên khối vì nó là một framework mạnh.
        </li>
        <li>Nó không có khả năng quản lý các yêu cầu khác nhau cùng một lúc vì nó không trao quyền cho các thủ tục riêng
            lẻ để xử lý nhiều yêu cầu cùng một lúc. Các lập trình viên thường sẽ cân nhắc nếu họ cần xem xét các phương
            thức khác nhau để thực hiện một quy trình kiểm soát các yêu cầu khác nhau cùng một lúc.
        </li>
        <li>Hệ thống ORM (Object Relation Mapping) cho phép các lập trình viên làm việc trên các cơ sở dữ liệu khác nhau
            cùng một lúc nhưng nó thiếu một số tính năng chủ yếu được cung cấp bởi các hệ thống ORM khác. Nó được thiết
            kế theo cách mà không cho phép các lập trình viên sử dụng SQLAlchemy hoàn toàn.
        </li>
    </ul>
    </table>
    <a class="gohome" href="/">Về trang chủ</a>
</body>
</html>